<div>
    <form action="/productos" method="post">
        <div class="row">
            <div class="col-md-3">title: <input class="form-control" type="text" name="title"></div>
            <div class="col-md-3">price: <input class="form-control" type="number" name="price"></div>
            <div class="col-md-3">thumbnail: <input class="form-control" type="text" name="thumbnail"></div>
            <div class="col-md-1" style="align-self:center"><button class="btn btn-primary" type="submit">Enviar</button></div>

        </div>
    </form>
    <div class="row mt-2">
        <div class="col-md-10 text-center">
            <a href="/productos" class="btn btn-secondary">Detalle Productos</a>
        </div>
    </div>
</div>