
extends main.pug    
block productostmp
    if productos.length > 0
        div(class="row")
            div(class="col-md-8 offset-md-2")
                table(class="table" style="width: 100%;")
                    thead(class="thead-dark")
                        th(scope="col" style="width: 30%;") Titulo
                        th(scope="col" style="width: 30%;") Precio
                        th(scope="col" style="width: 40%;" class ="text-center") Imagen
                    tbody
                        each proddet in productos
                            tr
                                td(class="align-middle") #{proddet.title}
                                td(class="align-middle") #{proddet.price}
                                td(class="align-middle text-center")
                                    img(src= proddet.thumbnail width="20%" alt="MDN")
        
    else
        div(class="alert alert-danger" role="alert") No se encuentran productos registrados
    div(class="row mt-2")
        div(class="col-md-8  offset-md-2 text-center")
            a(href="../" class="btn btn-secondary") Formulario Agregar           
           




